
body {
    margin: 0;
    padding: 0;

  }
  * {
    color: black;
  }
  
  body {
    background-color: rgb(149, 175, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .App {
    background-color: rgb(146, 235, 229);
    width: 25rem;
    min-height: 300px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
  }
  
  .score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
  }
.form-reset{
    width: 25rem;
    display: flex;
    justify-content: center;
    position: relative;
}
.btn-reset{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 10rem;
    top:50px;
    height: 4vh;
}
  .question-section {
    width: 100%;
    position: relative;
  }
  
  .question-count {
    margin-bottom: 20px;
  }
  
  .question-count span {
    font-size: 28px;
  }
  
  .question-text {
    margin-bottom: 12px;


  }
  
 
  

  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px
  }
  
  button {
    width:55%;
    font-size: 14px;
    color: #ffffff;
    background-color: #366b73;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    
    cursor: pointer;
  }
  
  .correct {
    background-color: #6e8b6e;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  button:hover {
    background-color: #acbf58;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  }